* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #f5f6fa;
}
h2 {
  margin-bottom: 20px;
  color: #333;
}
/* center container */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* card */
.login-card {
  width: 320px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* inputs */
.login-card input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
}

/* button */
.login-card button {
  width: 100%;
  padding: 10px;
  background: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
}




/* NAVBAR */
.navbar {
  height: 60px;
  background: #2c7be5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar button {
  background: white;
  color: #2c7be5;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

/* MAIN LAYOUT */
.main {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: white;
  height: calc(100vh - 60px);
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar p {
  margin: 15px 0;
  cursor: pointer;
}

.sidebar .active {
  color: #2c7be5;
  font-weight: bold;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
}

/* HEADER */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-btn {
  background: #2c7be5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
}

/* CARD */
.card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* CARD HEADER */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STATUS BADGE */
.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.status.approved {
  background: #d4edda;
  color: #28a745;
}

.status.submitted {
  background: #fff3cd;
  color: #856404;
}

.status.verification {
  background: #cce5ff;
  color: #007bff;
}

/* PROGRESS */
.progress {
  margin-top: 15px;
}

/* STEP */
.step {
  color: #999;
}

.active {
  color: #2c7be5;
  font-weight: bold;
}

.form-container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #e0e0e0;
}

.sidebar a.active {
  color: #2f6cd6;
  font-weight: bold;
}
.message {
  margin-top: 10px;
  font-size: 14px;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}